{%extends 'all-templates/base.html'%}
{% load static %}
{% load bootstrap3 %}

{% block content %}
<style>
    h1{
        color: red;
    }
</style>

<!-- upload new photo-->
<div class="container" style="background-color: honeydew;">

    <marquee behaviour="scroll" direction="up"><h1 style="text-align:center" color="red">Instagram app</h1></marquee>

    <hr>
    <div class="row">
        <div class="col-md-6">
            {% for img in posts %}
            <div class="row">
                <div class="col-md-12 showpost">
                    <div class="card" style="width: 100%; height: 100%;">
                        <div class="img">
                            <a href="#{{img.id}}" data-toggle="modal" data-target="#{{img.id}}">
                                <img class="card-img-top" style="width:100%;max-width:100%"src="{{img.image.url}}" class="img-responsive"
                                    alt="{{image.img_name}}">
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <div class="modal fade" id="{{img.id}}" role="dialog">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{img.image_name}}</h4>
                                            <img src="{{img.image.url}}" class="img-responsive" alt="Image"
                                                style="width:100%;max-width:100%">
                                        </div>
                                        <div class="modal-body">
                                            <p class="text-justify">{{img.caption}}</p>
                                            <p class="text-left"><b>Likes:</b> {{img.likes}}</p>
                                            <p class="text-left"><b>Posted on:</b></p>
    
                                        </div>
                                        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                                            <input id="{{img.id}}-url" class="form-control input-md responsive" type="text"
                                                value="{{img.image.url}}">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
    
                        </div>
                        <div class="card-block">
                            <br>
                            <img src="https://img.icons8.com/material-outlined/24/000000/filled-like.png"/>
                            <img src="https://img.icons8.com/material-outlined/24/000000/speech-bubble--v2.png" />
                            <img src="https://img.icons8.com/windows/32/000000/filled-sent.png" />
    
                            <h5 class="card-title"><span class="" style="font-weight: 700;">{{img.profile}}</span>
                                {{img.caption}}
                            </h5>
                            <a href="{%url 'comment' img.id %}" class="pl-3">
                                Comments
                            </a>
                            <br>
                            <br>
    
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-5" style="background-color: honeydew;">
            <div class="showprofile">
                <h1 style="font-weight: 700;">Profile</h1>
                <hr>
                <div class="row">
                    <div class="col-md-4">
                        <div class="img">
                            <div class="profile_pic" class="rounded-circle">
                                <img style="width:100%;max-width:100%"src="{{user.profile.profile_pic.url }}" alt="profile_photo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3 style="font-weight: 700;"><a href="{% url 'profile' %}">{{user.username}}</a></h3>
                        <b>{{user.profile.bio}}</b>
                    </div>
                </div>
            </div>
          
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <b style="font-size:10pt;">Following </b>
                    </div>
                    <div class="col-md-6">
                        <b style="font-size:10pt;">Followers </b>
    
                    </div>
                </div>
                <hr>
            </div>
    
            <div>
                <div class="row">
                    <div class="col-md-6">
                        <b style="font-size:15pt;">Write New Post </b>
                    </div>
                    <div class="col-md-6">
                        <a class="btn btn-info newpost" href="{% url 'post' %}">here</a>
                    </div>
                </div>
                <hr>
            </div>
    
        </div>

    </div>
    {%endblock%}